body {
  text-align: center;
  background-color: #283149;
  background-image: url("azX3ve.png");
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #670101;
  font-family: "Arvo", cursive;
  text-align: left; 
  padding-left:50px ;
  letter-spacing: 1px;
  font-size: larger;
}

.set {
  margin: 10% auto;
}

.w {
  background-image: url("crash.png");
}
.a {
  background-image: url("kick.png");
}
.s {
  background-image: url("snare.png");
}
.d {
  background-image: url("tom1\ \(1\).png");
}
.j {
  background-image: url("tom2.png");
}
.k {
  background-image: url("tom3.png");
}
.l {
  background-image: url("tom4.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  background-color: white;
}